

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# 환경 설정
.env
env

# 가상환경
venv/
env/
..myvenv
.myvenv
myvenv
.myvenv/
myvenv/
.myvenv/Lib/
.myvenv/Scripts/
# 업로드된 미디어 파일
media/
